.main {
  min-height: 85vh;
  max-height: max-content;
  width: 100vw;
  background-color: #f3ebff;
  display: flex;
  justify-content: center;
}
.login-div{
  height: 60%;
  width: 35%;
  /* margin-top: 15vh; */
  margin-top: 4vh;
  margin-bottom: 5vh;
}
.form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;

}
.email-input,.password{
    width: 100%;
    border: none;
    box-shadow: 2px 2px 1px gray;
    padding-left: 2%;
    border-radius: 5px;
    margin: 10px;
}
.login-btn{
    background-color:#4260DA;
    color: white;
    cursor: pointer;
    width: 104%;
    border: none;
    box-shadow: 2px 2px 1px gray;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}
.login-btn:hover{
    background-color: #290A5C;
    color: white;
}
.forgot-btn{
    display: flex;
    justify-content: end;
}
.forgot-href{
    cursor: pointer;
    text-decoration: none;
    color: #4260DA;
}
.forgot-href:hover{
  color: #4260DA;
}

@media (max-width:768px) {
    .login-div{
        width:70%;
    }
}


/* added this */
.error-message {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.success-message {
  background-color: #dff0d8;
  color: #2D9F35;
  border: 1px solid #d6e9c6;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
