
<app-navbar></app-navbar>

<div class="container">
  <h2>Specialist SignUp</h2>
  <form>

    <div class="form-group">
      <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" required>
    </div>

    <div class="form-group">
      <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" required>
    </div>

    <div class="form-group">
      <input type="email" id="email" name="email" placeholder="Enter your email" required>
    </div>

    <div class="form-group">
      <input type="password" id="password" name="password" placeholder="Enter your password" required>
    </div>

    <button type="submit">Sign Up</button>

  </form>
  <p>Already have an account? <a href="/auth/login">Login</a></p>
</div>

<app-footer></app-footer>
