<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="formy" enctype="multipart/form-data">
        <div class="text-center mb-3">
          <div class="image-preview rounded-circle mb-2">
            <img id="previewImage" src="https://t4.ftcdn.net/jpg/04/81/13/43/360_F_481134373_0W4kg2yKeBRHNEklk4F9UXtGHdub3tYk.jpg" alt="Preview">
          </div>
          <label for="inputPhoto" class="btn btn-primary">Upload Photo</label>
          <input type="file" class="form-control-file d-none" id="inputPhoto" (change)="previewFile($event)">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
          </div>
        </div>

        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" placeholder="Your Email Address">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="inputEmail" placeholder="Enter password">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputCity" placeholder="City">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputCountry" placeholder="Country">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputPostalCode" placeholder="Postal Code">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click)="onsubmit()">Sign in</button>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<app-footer></app-footer>