


.formContainer{
  width: 500px;
  height:380px;
  padding:10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0.5, 0.5, 0.5, 0.5);
  margin: 0 auto;
  margin-bottom:20px;
  margin-top: 10px;
}

.formy{
  margin-inline:40px;
}

.profTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

.backArrow{
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.titlepg{
  font-size: 15px;
  font-weight: bold;
}

.titleInput{
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
}

input{
  border: 2px solid gainsboro;
  width: 400px;
  padding: 5px;
  margin-top: 20px;

}

.nextBtn{
 background-color: #4260DA;
 color: white;
 display: flex;
 justify-content: center;
 border: none;
 cursor: pointer;
 margin-top: 40px;
 width: 250px;
 border-radius: 20px;
 padding: 3px;
 margin-left: 75px;
 font-size: 18px;
}
