<app-navbar></app-navbar>

<form class="formContainer">
  <div class="formy">
  <title class="profTitle">Get Your Free Account</title>
  <div class="profTitle">Sign Up</div>
  
  <div class="joinAs">
    <div class="clientDiv" (click)="client()">
    <button class="btnClient"> Client </button>
    <p>1. looking for a specialist</p>
    <p>2. Hire Talents</p>
  </div>

  <div class="clientDiv" (click)="specialist()">
    <button class="btnSpecialist">specialist</button>
    <p>1. For freelance Jobs hire</p>
    <p>2. Get Hired at  a Pay</p>
  </div>

  </div>

</div>
</form>

<app-footer></app-footer>