
<div class="main">
  <div class="side-bar">
      <!-- <div class="logo"> -->
          <!-- <img src="../../../../assets/Logo-white.png" alt="" class="logo-pic"> -->
      <!-- </div> -->
      <div class="menu">
          <ul class="menu-list">

              <li routerLink="/dashboard/admin">
                  <!-- <i class="fa-solid fa-house fa-lg"></i> -->
                  Dashboard
              </li>

              <li routerLink="/dashboard/admin/createJob">
                Post Job
            </li>

            <li routerLink="/dashboard/admin/view-Specialists">
              View specialists
          </li>

          <li routerLink="/dashboard/admin/view-Clients">
            view Clients
         </li>


            <li routerLink="/admin/settings">
                  <!-- <i class="fa-solid fa-gear fa-lg"></i> -->
                  Settings
            </li>
          </ul>
      </div>

      <div class="logout" (click)="logOut()">
          <p>
              <i    class="fa-solid fa-right-from-bracket fa-lg"></i>
              Logout
          </p>
      </div>



  </div>
  <div class="content">
      <div class="nav-place">
          <nav class="navbar">
              <div class="hamburger-icon" (click)="showModalMenuAdmin()">
                  <!-- <i class="fa-solid fa-bars fa-lg"></i> -->
              </div>
              <!-- <div class="search"> -->
                  <!-- <input type="text" placeholder="Search" class="search-input"> -->
                  <!-- <!~~ <i class="fa-solid fa-magnifying-glass"></i> ~~> -->
              <!-- </div> -->
              <h3 class="adminpg">ADMINPAGE</h3>
              <div class="account">
                  <!-- <i class="fa-solid fa-user"></i> -->
                  {{emailAdmin}}
              </div>

          </nav>
      </div>


      <div class="main-content">
      </div>

      <div class="dpJobs">
        <p>display your jobs</p>

        <div class="table-div">
          <table  class="table">
          <thead>

              <tr>
                  <th>ID</th>
                  <th>jobName</th>
                  <th>Category</th>
                  <th>Budget</th>
                  <th>Duration</th>
                  <th>Description</th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr  *ngFor=" let jobs of myJobs;  let i = index">
                <td>{{i+1}}</td>
                <!-- <td><img src="{{jobs.jobName}}" alt="" class="img-table"></td> -->
                <td>{{jobs.jobName}}</td>
                <td>{{jobs.category}}</td>
                <td>{{jobs.budget}}</td>
                <td>{{jobs.duration}}</td>
                <td>{{jobs.description}}</td>
                <td><div class="icon">
                 <div class="edit-icon" (click)="updateJob(jobs.job_id)" [routerLink]="['/dashboard/admin/updateJob', jobs.job_id]">
                      <i class="fa-solid fa-pen-to-square"></i>
                  </div>
                  <div (click)="deleteJob(jobs.job_id)" class="delete-icon" >
                      <i  class="fa-solid fa-trash"></i>
                  </div>
                </div>
                </td>
                </tr>
                </tbody>

          </table>
      </div>







       </div>

  </div>
  <div class="modal-bg">
      <div class="modal">
          <div class="menu2">
              <ul class="menu-list">
                  <li routerLink="/dashboard/admin">
                      <i class="fa-solid fa-house fa-lg"></i>
                      Dashboard
                  </li>
                  <li routerLink="/admin/settings">
                      <i class="fa-solid fa-gear fa-lg"></i>
                      Settings
                  </li>
                  <li (click)="logOut()">
                      <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                      Logout
                  </li>
              </ul>
          </div>
          <div class="close-modal">
              <button class="close-btn" (click)="closeModalMenuAdmin()">Close</button>
          </div>
      </div>
  </div>
</div>




