
<app-navbar></app-navbar>


<div class="profile-container"  *ngFor="let profile of oneProfile; let i = index">
  <div class="profile-photo">
      <img [src]="profile.photo" alt="Profile Photo">
  </div>
  <button class="messagesp">message</button>

  <div class="profile-details">
      <h2>{{profile.firstName}}</h2>

      <div class="profile-column">
          <p><span>Education:</span> {{ profile.education }}</p>
          <p><span>Skills:</span> {{ profile.skills }}</p>
            <p><span>Role:</span> {{ profile.role }}</p>
          <p><span>Experience:</span> {{ profile.experience }}</p>
          <p><span>Hourly Rate:</span> {{ profile.hourlyRate }}</p>
          <p><span>Languages:</span> {{ profile.languages }}</p>
          <p><span>Location:</span> {{ profile.location }}</p>
          <p><span>Description:</span> {{ profile.message}}</p>
      </div>
  </div>
</div>


  
  <p>Revie Below</p> 

<p>{{review}}</p>



<app-footer></app-footer>



 <!-- <app-navbar></app-navbar> -->

<!-- <div class="main"> -->
  <!-- <div class="title"> -->
      <!-- <h2>Profile</h2> -->
  <!-- </div> -->

  <!-- <div *ngFor="let profile of oneProfile; "class="talent-container"> -->
      <!-- <div class="image-container"> -->
          <!-- <img src="{{ profile.profileImg }}" alt="Profile Image"> -->
      <!-- </div> -->
      <!-- <div class="details-container"> -->
          <!-- <p><strong>Name:</strong> {{ profile.firstname }} {{ profile.lastname }}</p> -->
          <!-- <p><strong>Email:</strong> {{ profile.email }}</p> -->
          <!-- <p><strong>Location:</strong> {{ profile.location }}</p> -->
          <!-- <p><strong>Speciality:</strong> {{ profile.speciality }}</p> -->
          <!-- <p><strong>Contact:</strong> {{ profile.phone }}</p> -->
          <!-- <div class="button-container"> -->
              <!-- <button class="apply-btn">Message</button> -->
          <!-- </div> -->
      <!-- </div> -->
  <!-- </div> -->



<!-- </div> -->

 <!-- <app-footer></app-footer> -->
