
<app-navbar></app-navbar>

<div class="centered-container">
  <div class="profile-details">
    <h1>Welcome to Our Community</h1>
    <!-- <p>We're thrilled to have you join us! At Our Community, we value connections, collaboration, and growth.</p> -->
    <p>Before you dive in, let's set up your profile. Your profile helps other community members learn more about you and connect with you.</p>
    <p>Create your profile and start exploring our vibrant community!</p>
    <button (click)="createProfile()">Create Profile</button>
  </div>
</div>

<app-footer></app-footer>
