.main{
  min-height: 30vh;
  max-height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #2B3247;
  color: white;
  font-size: 13px;
}
.links{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom:5vh ;

}
.quick-links li{
  cursor: pointer;
  list-style: none;

}
.quick-links li:hover{
  color: #b819b0;
}
.copyrights{
  display: flex;
  justify-content: center;
}
.fa-brands{
  width: 2vw;
  cursor: pointer;
}
.fa-brands:hover{
  color: #b819b0;
}

.logonSearch{
  display: flex;
  align-items: center;
  gap: 30px;
  width:65%;
  margin-top: 30px;
  border-radius: 10px;
  background-color: white;
  padding: 3px;

}
