
<app-navbar></app-navbar>


<div class="landingContainer">
  <div class="hero">

      <div class="aboutUs">

              <div class="aboutUsDesc">
                  <div class="mobileImg">

                  </div>
                  <p id="aboutTitle">Find  and  Hire <br>
                  Expert Freelancers<br> </p>

                  <p id="aboutTitleMobile">Work with the best  talent from around the world on our secure,<br>
                    flexible and cost-effective platform.</p>

                  <!-- <p>Right now</p> -->
                          <p id="aboutUsText">Work with the best  talent from around the world on our secure,<br>
                            flexible and cost-effective platform.</p>
                          <p id="aboutUsTextMobile">With a team of experts dedicated to your success.  where every interaction is a step towards success."</p>

                          <div class="search">
                            <input type="text" name="search" id="searchField" placeholder="What skill are you looking for?">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                              </svg>
                        </div>

                          <button  routerLink="signup">Hire Talents</button>

                          <button >Post A Job</button>
              </div>

              <figure class="heropiks"></figure>
      </div>
  </div>

  <div id="specialistTitle">
      <p>TOP Services by Specialist</p>
    </div>
      <P> DISPLAY SERVICES OFFERED</P>


  <div id="specialistTitle">
    <p>Meet Our Team of Experts</p>
  </div>
    <P>DISPLAY ALL SPECIALISTS</P>


  <div id="specialistTitle">
    <P>display REVIEWS</P>
  </div>
  <P>DISPLAY reviews</P>

  <div class="getStarted">
      <h3>Ready To Get Started? </h3>
      <p>Hire faster with the country’s  highest rated <br> Specialists</p>
      <button routerLink="signup">Join GigBridge</button>
  </div>

</div>


<app-footer></app-footer>
