
<app-navbar></app-navbar>


<div class="landingContainer">
  <div class="hero">

      <div class="aboutUs">

              <div class="aboutUsDesc">
                  <div class="mobileImg">
                  </div>
                  <p id="aboutTitle">Find  and  Hire <br>
                  Expert Freelancers<br> </p>

                  <p id="aboutTitleMobile">Work with the best  talent from around the world on our secure,<br>
                    flexible and cost-effective platform.</p>

                  <!-- <p>Right now</p> -->
                          <p id="aboutUsText">Work with the best  talent from around the world on our secure,<br>
                            flexible and cost-effective platform.</p>
                          <p id="aboutUsTextMobile">With a team of experts dedicated to your success.  where every interaction is a step towards success."</p>

                          <div class="search">
                            <input type="text" name="search" id="searchField" placeholder="What skill are you looking for?" [(ngModel)]=" filterJob">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                              </svg>
                        </div>

                          <button  routerLink="signup">Hire Talents</button>

                          <button >Post A Job</button>
              </div>

              <figure class="heropiks"></figure>
      </div>
  </div>

  <!-- display Jobs -->

 <hr>

 <div class="jobs">
     <p class="meetExpert">CheckOut Jobs Available</p>
     <div class="job-grid" *ngIf="AllJobs.length > 0">
       <div class="job-card" *ngFor="let job of AllJobs | filter:filterJob">
         <div>
             <p><b>Job Name:</b> {{ job.jobName }}</p>
             <p><b>category:</b> {{ job.category }}</p>
             <p><b>Duration:</b> {{ job.duration }}</p>
             <p><b>Description:</b> {{ job.description }}</p>
             <p><b>Salary:</b> {{ job.budget }}</p>
           <div class="button-container">
             <button class="job-btn"  (click)="oneJob(job.job_id)">View job</button>
           </div>
         </div>
       </div>
     </div>
 </div>

 <hr>

<div>



<!-- specialists -->
<!-- <P>DISPLAY ALL SPECIALISTS</P> -->
</div>

  <div id="specialistTitle">
    <p class="meetExpert">Meet Our Team of Experts</p>
    <div class="sp-container" >
      <div class="profile-card-london" *ngFor="let sp of mySpecialists;  let i = index">
        <div class="profile-content">
          <img src="{{sp.photo}}" alt="Profile Picture">
          <div class="details">
            <p>Name:{{sp.firstName}}</p>
            <p>Role:{{sp.role}}</p>
            <p>Experience:{{sp.experience}}</p>
            <p>Rate:{{sp.hourlyRate}}/hr</p>
            <button class="hire"  (click)="oneProfile(sp.specialist_id)">Hire</button>
            <button class="hireB" (click)="oneProfile(sp.specialist_id)">more info</button>
          </div>
        </div>
      </div>
    </div>
    </div>


  <div id="specialistTitle">
    <div class="carousel">
      <p class="meetExpert">REVIEWS From our Clients</p>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let review of reviews; let i = index" [class.active]="i === activeIndex">
      <img style="width:20%;border-radius:550px;" [src]="review.imageUrl" alt="Review Image">
      <div class="review-content">
        <p>{{ review.comment }}</p>
        <p style="color:#2777c6">{{ review.author }}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" (click)="prevSlide()">&#10094;</a>
  <a class="carousel-control-next" (click)="nextSlide()">&#10095;</a>
</div>


</div>

  <div class="getStarted">
      <h3>Ready To Get Started? </h3>
      <p>Hire faster with the country’s  highest rated <br> Specialists</p>
      <button routerLink="signup">Join GigBridge</button>
  </div>


<app-footer></app-footer>











