
.landingContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  box-sizing: border-box;
  background-size: contain;
}

app-nav-bar{
  color:#edf0f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 98vw;
}



.hero{
  /* background-image: url("https://res.cloudinary.com/gurucom/image/upload/w_450,f_auto/static/homepage/bannerguy.png"); */
  background-size: cover;
  background-position:inherit;
  background-repeat: no-repeat;
  background-color: #2B3247;
  margin: 0;
  width: 100%;
}

.heropiks{
  position: relative;
    margin-top:50px;
    width: 40%;
    background-image: url("https://res.cloudinary.com/gurucom/image/upload/w_450,f_auto/static/homepage/bannerguy.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}



.search{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  width: 70%;
  height: 7vh;
  font-weight: 100;
  border: #2777c6 3px solid;

}

.search svg{
  color: gray;
}

#searchField{
  border: none;
  width: 95%;
}

#searchField:focus{
  outline: none;
}

.aboutUs{
  height: 100vh;
  display: flex;
  margin-top: 20px;
  text-align: center;

  font-weight: 600;
  width: 100%;
  color: whitesmoke;

}

.aboutImages{
  display:flex;
  flex-direction: column;
}

.aboutUs button{
  margin-top: 15px;
  width: 200px;
  height: 40px;
  border: none;
  margin-right:150px;
  margin-top: 60px;
  border-radius: 7px;
  background-color: #4260da;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;

  position: relative;
  text-align: center;
}

.aboutUs button:hover{
  background-color: black;
}

.aboutUsDesc p{
  margin-bottom: 10px;
  line-height: 30px;
}

#aboutTitle{
  line-height: 45px;
  text-align: start;
  font-size: 2rem;
    font-weight: 500;

}
#aboutUsTextMobile{
  display: none;
}

#aboutTitleMobile{
  display: none;
}


.aboutUsDesc{
  /* background-color: rgba(255, 255, 255, 0.589); */
  margin-top: 10%;
  padding-inline: 20px;
  border-radius: 10px;
  margin-left: 3%;
  /* padding-top: 50px; */
  /* width: 100%; */

}

#aboutUsText{
  font-size: 20px;
  font-weight: 500;
  text-align: start;
}



#specialistTitle{
  width: 90%;
  color: black;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

}


.getStarted{
  height: 60vh;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 30px;
  width: 70vw;
  text-align: center;
  margin-bottom: 10vh;
}

.getStarted h3{
  font-size: 22px;
  font-weight: 600;
}

.getStarted p{
  font-size: 18px;
  color: black;
}

.getStarted button{
  height: 45px;
  width: 20%;
  /* min-width: 300px; */
  border: none;
  border-radius: 7px;
  appearance: none;
  background-color:#4260da;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  /* box-shadow: rgba(27, 31, 35, .1) 0 1px 0; */
  /* box-sizing: border-box; */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  /* text-align: center; */
  /* text-decoration: none; */
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* touch-action: manipulation; */
  /* vertical-align: middle; */
  /* white-space: nowrap; */
}

.getStarted button:hover{
  background-color: black;
}




@media only screen and (max-width: 430px){


  .serviceCards{
      flex-wrap: wrap;
  }

  .card{
      width: 100%;
  }

  .desc{
      width: 100vw;
  }

  .getStarted{
      margin-top: 180vh;
      width: 100vw;
  }

  #landscaping{
      display: none;
  }

  #aboutUsTextMobile{
      display: block;
      font-size: 16px;
  }

  #aboutUsText{
      display: none;
  }

  #aboutTitleMobile{
     display: block;
     /* margin-top: 20px; */
     font-size: 30px;
  }

  #aboutTitle{
      display: none;
  }


  .mobileImg{
    background-image: url("https://res.cloudinary.com/gurucom/image/upload/w_450,f_auto/static/homepage/bannerguy.png");
      background-size: cover;
      background-position: center;
      height: 25vh;
      width: 96vw;
      width: 100%;
      /* height: 100%; */
      margin-top: 15px;
      margin-bottom: 10px;
      padding: 0;
      border-radius: 30px;
      /* box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8); */

  }

  .aboutUs button{
      margin-top: 0;
  }



}



/* REVIEWS */
.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 30px;

}

.carousel-inner {
  display: flex;
  flex-direction: column;
  background-color: #edf0f1;
  height: 70vh;
  border-radius: 5px;
  /* align-items: center; */
  padding: 20px;
  justify-content: center;
  transition: transform 0.5s ease;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

/* img { */
  /* max-width: 100%; */
  /* height: auto; */
  /* margin-bottom: 10px; */
/* } */

.review-content {
  font-size: 1.2rem;
  margin-inline: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}




/* jobs  */

.jobs {
  /* height: 100vh; */
  /* width: 100vw; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 30px auto;
 
}

.job-grid{
  margin-top: 30px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.job-card {
  background-color: #e9e9e9;
  border-radius: 10px;
  padding: 20px;
width: 330px;
  margin-left:20px;
  margin-right:50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.job-card p {
  margin: 10px 0;
}



/* banner style */

.banner{
  display: flex;
  height: 50vh;
  width: 80vw;
  border-radius: 20px;
  background-color: #f9a804;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  justify-content: center;
}

.banner-1{
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #3129a4;
  margin-top: 30px;
}

.banner-2{
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  color: #3129a4;
  margin-top: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.job-btn {
  background-color: #030130;
  border-radius: 20px;
  padding: 10px 20px;
  color: lightgray;
  border: none;
  cursor: pointer;
}

.try-btn{
  background-color: #030130;
  border-radius: 20px;
  padding: 10px 20px;
  color: lightgray;
  border: none;
  cursor: pointer;
}


/* styles.css */

/* General styles */
.sp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 20px;
  gap: 30px;

}

.profile-card-london {
  /* width: 250px; */
  border: 1px solid #ccc;
  border-radius: 8px;
  width:350px;
  height: 450px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  transition: transform 0.3s ease-in-out;
}

.profile-card-london:hover {
  transform: translateY(-5px);
}

.profile-content {
  padding: 20px;
  text-align: center;
}

.profile-content img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 5px;
}

.details p {
  margin: 3px 0;
  font-size: 14px;
  text-align: start;
}

.details button {
  padding: 5px 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:10px ;
  transition: background-color 0.3s ease-in-out;
}

.details button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
  .profile-card-london {
    width: 100%;
  }
}
 

.meetExpert{
  text-align: center;
  background-color: gainsboro;
  color: #007bff;
  font-size: 24px;
}
