
<app-navbar></app-navbar>

<form class="formContainer" [formGroup]="titleForm" (ngSubmit)="saveRole()">
  <div class="formy">
  <title class="profTitle">Create profile</title>

  <div class="backArrow">&lt;</div>
  <div class="line"></div>
  <div class="titlepg">First, add your Role to tell the world what you do.</div>
  <input class="titleInput" type="text" placeholder="eg. web-designer |Caregiver |Cleaner" formControlName="role">
  <button class="nextBtn" type="submit" [disabled]="!titleForm.valid">next</button>
</div>
</form>

<app-footer></app-footer>
